<footer class="bg-dark text-white pt-5 pb-4 mt-4">
    <div class="text-center text-md-left">
        <div class="row text-center text-md-left">
            <!-- About Section -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Our Courses</h5>
                <p>
                    We offer a wide range of courses in various domains, ranging from technology, business, and design
                    to personal development. Explore our courses to find what suits you best.
                </p>
            </div>

            <!-- Courses Section -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Courses</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Web Development</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Data Science</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Graphic Design</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Business Management</a></p>
            </div>

            <!-- Useful Links Section -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Home</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">About Us</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Contact Us</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Support</a></p>
            </div>

            <!-- Contact Section -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home mr-3"></i> 123 Main Street, City, Country</p>
                <p><i class="fas fa-envelope mr-3"></i> info@yourdomain.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
        </div>

        <hr class="mb-4">

        <!-- Footer Bottom -->
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2024 All Rights Reserved by:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">Your Company</strong>
                    </a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>