<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Demure</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="courses/create">Đăng khóa học</a>
                </li> --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://scontent.fdad3-6.fna.fbcdn.net/v/t39.30808-1/454784787_2236732263354934_5316442304322831612_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=101&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGSeLXpeRkayaEy1-beM_K8uTBNFUCkRNq5ME0VQKRE2tA90ODCjgcISh3w5LPLgPx0qbV8ZvM5bXNjKkCvKvE1&_nc_ohc=4RpVCpq0bJQQ7kNvgHy-m-z&_nc_ht=scontent.fdad3-6.fna&oh=00_AYCFzcosUrpiXLvmaSP9J5s_UcMALVNKttAZt8g8O4y4XQ&oe=66C6A7B6"
                            alt="" class="user-avatar">
                        Phan Phúc
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
            {{!-- <form class="d-flex" role="search">
                <input class="form-control me-2" id="search-input" type="text" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</nav>