<div class="container bg-ctn text-white">
    <h2 class="text-center">Cài Đặt Xác Thực 2 Yếu Tố</h2>
    <div class="text-center">
        <div class="qr-code">
            <!-- Thay thế URL dưới đây bằng URL QR code thực tế -->
            <img src="{{qrCode}}" alt="QR Code">
        </div>
    </div>
    <div class="instruction">
        <h5>Hướng Dẫn:</h5>
        <p>
            1. Mở ứng dụng Authenticator trên điện thoại của bạn (như Google Authenticator, Microsoft Authenticator,
            hoặc Authy).<br>
            2. Quét mã QR trên màn hình bằng ứng dụng Authenticator.<br>
            3. Ứng dụng sẽ tự động thêm tài khoản của bạn và bắt đầu tạo mã xác thực 6 chữ số.<br>
            4. Nhập mã xác thực từ ứng dụng vào ô yêu cầu trong trang web để hoàn tất thiết lập.
        </p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>